<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.production.mapper.MonthPlanMapper">
	<select id="selectMProductionPlan" resultType="com.drug.entity.MProductionPlan">
		select m.mPlanId,e.empName as mProposerName,m.mApplyDate,m.mPlanNumber,m.mRealityNumber,
		m.mAuditorName,m.mStatus,m.mAuditingDate,m.mBegindate,m.mEnddate
		from mPlan m 
		join main_employee e
		on m.mProposerId=e.empId
		where m.mPlanId>9999 and m.mVisibles=1
	</select>
	
</mapper>