<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.production.mapper.ReturnOfMapper">
	<select id="selectReturnOfAll"
		resultType="com.drug.entity.ReturnOf" parameterType="Map">
		SELECT
		ro.returnOfId,ro.poId,emp.empName,ro.applydate,ro.auditingdate,ro.`status`,ro.insrock
		FROM
		returnOf ro LEFT JOIN main_employee emp
		ON ro.proposerId=emp.empId AND ro.auditorId=emp.empId limit
		#{page},#{limit}
	</select>

	<select id="selectReturnOfCount" resultType="int">
		select count(returnOfId) from returnOf
	</select>

	<delete id="deleteReturnOfById" parameterType="Integer">
		delete from returnOf where returnOfId=#{id}
	</delete>

	<update id="checkReturnOfStatus" parameterType="Integer">
		update returnOf set `status`='已审核' where returnOfId=#{id}
	</update>

</mapper>