<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.infoManagement.mapper.AdminIndexMapper">

	<resultMap type="MainModel" id="MainModelMap">
		<id property="id" column="modelId"/>
		<result property="title" column="modelName"/>
		<result property="parentModelId" column="parentModelId"/>
		<result property="modelImg" column="modelImg"/>
		<result property="modelUrl" column="modelUrl"/>
		<result property="menuType" column="menuType"/>
	</resultMap>
	
	<select id="queryByMenu" resultMap="MainModelMap">
		select * from main_model
	</select>
	
	<select id="queryByMenuByRoleId" resultMap="MainModelMap" parameterType="Integer">
		SELECT * FROM main_model m INNER JOIN main_role_model rm
		ON m.`modelId`=rm.`modelId` INNER JOIN main_role r
		ON r.`roleId`=rm.`roleId` WHERE r.`roleId`=#{roleId}
	</select>
	
	<select id="login" parameterType="MainEmployee" resultType="MainEmployee">
		select * from main_employee where empState='未删除' and empName=#{empName} and empPwd=#{empPwd}
	</select>
</mapper>
