<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.infoManagement.mapper.ProductAndRecipeMapper">
	
	<insert id="addProduct">
		insert into main_product(proName,enlishName,methodOfApplication,proBatchNumber,expirationdate,proForbidden,proCure,proBadness,retailPrice,hqtId)
		values(#{proName},#{enlishName},#{methodOfApplication},#{proBatchNumber},#{expirationdate},#{proForbidden},#{proCure},#{proBadness},#{retailPrice},#{hqtId})
	</insert>
	
	<resultMap type="MainProduct" id="MainProductMap">
		<id property="proId" column="proId"/>
		<result property="proName" column="proName"/>
		<result property="enlishName" column="enlishName"/>
		<result property="shape" column="shape"/>
		<result property="methodOfApplication" column="methodOfApplication"/>
		<result property="packaging" column="packaging"/>
		<result property="proBatchNumber" column="proBatchNumber"/>
		<result property="expirationdate" column="expirationdate"/>
		<result property="storageCondition" column="storageCondition"/>
		<result property="specification" column="specification"/>
		<result property="thebarcode" column="thebarcode"/>
		<result property="proImageUrl" column="proImageUrl"/>
		<result property="proCure" column="proCure"/>
		<result property="proForbidden" column="proForbidden"/>
		<result property="proBadness" column="proBadness"/>
		<result property="costPice" column="costPice"/>
		<result property="retailPrice" column="retailPrice"/>
		<result property="hqtId" column="hqtId"/>
		<result property="proState" column="proState"/>
		<result property="field2" column="field2"/>
		<result property="hqtName" column="hqtName"/>
		<association property="mainRecipe" javaType="MainRecipe">
			<id property="recipeId" column="recipeId"/>
			<result property="proId" column="proId"/>
			<result property="recipeName" column="recipeName"/>
			<result property="recipeState" column="recipeState"/>
			<result property="empId" column="empId"/>
			<result property="empName" column="empName"/>
		</association>
	</resultMap>
	<select id="queryProduct" resultMap="MainProductMap">
		SELECT * FROM main_product p
		LEFT JOIN main_headquarters h
		ON p.`hqtId`=h.`hqtId` 
		LEFT JOIN main_recipe r
		ON p.`proId`=r.`proId`
		LEFT JOIN main_employee e
		ON r.`empId`=e.`empId`	
	</select>
	
	
	<update id="updateProStateById" parameterType="Integer">
		update main_product set proState='已审核'  where proId=#{proId}
	</update>
	<update id="updateRecipeStateById" parameterType="Integer">
		update main_recipe set recipeState='已审核'  where recipeId=#{recipeId}
	</update>
</mapper>
   
    
    