<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.infoManagement.mapper.SaleOrderMapper">

	<!-- 销售订单查询 -->
	<select id="querySaleOrder" resultType="MainSaleOrder" parameterType="Map">
		SELECT s.*,b.`bsfName` FROM main_saleorder s 
		INNER JOIN branch_storefactsheet b
		ON s.`bsfId`=b.`bsfId` 
		<where>
			<if test="payTime!=null and payTime!=''">
				s.`payTime` LIKE concat("%",#{payTime},"%")
			</if>
			<if test="checkState!=null and checkState!=''">
				AND s.`checkState`=#{checkState}
			</if>
			<if test="branchStoreName!=null and branchStoreName!=''">
				AND b.`bsfName`=#{branchStoreName}
			</if>
		</where>
		
	</select>
	<!-- 销售订单详情查询 -->
	<select id="querySaleOrderDetail" parameterType="Integer" resultType="MainSaleOrderdetail">
		SELECT p.`proBatchNumber`,p.`proName`,p.`retailPrice`,s.* 
		FROM main_saleorderdetail s
		INNER JOIN main_product p
		ON s.`proId`=p.`proId` WHERE orderId=1
	</select>
	<!-- 根据订单id删除订单详情 -->
	<delete id="deleteSaleOrderDetailById" parameterType="Integer">
		delete from main_saleorderdetail where orderId=#{orderId}
	</delete>
	<!-- 根据订单id删除订单 -->
	<delete id="deleteSaleOrder" parameterType="Integer">
		delete from main_saleorder where orderId=#{orderId}
	</delete>
	<!-- 审核订单 -->
	<update id="checkOrder" parameterType="Integer">
		update main_saleorder set checkState='已审核' where orderId=#{orderId}
	</update>
</mapper>
